/* Right to Left */
.ellipsis:before {
  float: right;
}
.ellipsis > *:first-child {
  float: left;
  margin-left: auto;
  margin-right: -5px;
}
.ellipsis:after {
  float: left;
  left: auto;
  right: 100%;
  padding-left: 5px;
  padding-right: 0;
  margin-left: 0;
  margin-right: -3em;
  text-align: left;
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0)), to(white), color-stop(50%, white));
  background: -moz-linear-gradient(to left, rgba(255, 255, 255, 0), white 50%, white);
  background: -o-linear-gradient(to left, rgba(255, 255, 255, 0), white 50%, white);
  background: -ms-linear-gradient(to left, rgba(255, 255, 255, 0), white 50%, white);
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white 50%, white);
}
.dataobject-page .right-tabs .nav {
  float: left;
}
.dataobject-page .right-tabs .nav li {
  float: right;
}
.dataobject-page .right-tabs .tab-content {
  float: right;
}
.dataobject-page .dataobject-item .thumbnail .caption {
  left: auto;
  right: 0;
}
.dataobject-page .dataobject-related.dataobject-item > div .content {
  padding-left: 0;
  padding-right: 6px;
}
.dataobject-page .object-label:before {
  left: 0;
  right: auto;
  border: 4px solid #9b0c0c;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.dataobject-page .object-label.object-label-red:before {
  border: 4px solid #af1717;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.dataobject-page .object-label.object-label-blue:before {
  border: 4px solid #1919c9;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.dataobject-page .object-label.object-label-black:before {
  border: 4px solid #000000;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.dataobject-page .object-label.object-label-green:before {
  border: 4px solid #0a5c0a;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.dataobject-page .object-label.object-label-top-left {
  left: auto;
  right: 7px;
}
.dataobject-page .object-label.object-label-top-right {
  left: 7px;
  right: auto;
}
.dataobject-page .object-label.object-label-bottom-left {
  left: auto;
  right: 7px;
}
.dataobject-page .object-label.object-label-bottom-right {
  left: 7px;
  right: auto;
}
/* Small (Landscape phone to portrait tablet) */
@media (max-width: 767px) {
  .dataobject-page .dataobject-item > div .content {
    padding-left: 0;
    padding-right: 6px;
  }
  .dataobject-page .object-label.object-label-top-left {
    left: auto;
    right: 2px;
  }
  .dataobject-page .object-label.object-label-top-right {
    left: 2px;
    right: auto;
  }
  .dataobject-page .object-label.object-label-bottom-left {
    left: auto;
    right: 2px;
  }
  .dataobject-page .object-label.object-label-bottom-right {
    left: 2px;
    right: auto;
  }
}
/* X-Small (Landscape phones and down) */
@media (max-width: 480px) {
  .dataobject-page .dataobject-item > div .content {
    padding-left: 0;
    padding-right: 6px;
  }
  .dataobject-page .object-label.object-label-top-left {
    left: auto;
    right: 0px;
  }
  .dataobject-page .object-label.object-label-top-right {
    left: 0px;
    right: auto;
  }
  .dataobject-page .object-label.object-label-bottom-left {
    left: auto;
    right: 0px;
  }
  .dataobject-page .object-label.object-label-bottom-right {
    left: 0px;
    right: auto;
  }
}
/*# sourceMappingURL=dataobject-rtl.css.map */