/*
    Created on : Jan 21, 2017, 10:25:41 PM
    Author     : hudhaifa
*/
@keyframes placeHolderShimmer {
  0% {
    background-position: -868px 0;
  }
  100% {
    background-position: 868px 0;
  }
}
.ellipsis {
  overflow: hidden;
  height: 42px;
  line-height: 21px;
  font-size: 14px;
}
.ellipsis:before {
  content: "";
  float: left;
  width: 5px;
  height: 42px;
}
.ellipsis.ellipsis-1 {
  height: 21px;
  line-height: 21px;
}
.ellipsis.ellipsis-1:before {
  height: 21px;
}
.ellipsis.ellipsis-2 {
  height: 42px;
  line-height: 21px;
}
.ellipsis.ellipsis-2:before {
  height: 42px;
}
.ellipsis.ellipsis-3 {
  height: 63px;
  line-height: 21px;
}
.ellipsis.ellipsis-3:before {
  height: 63px;
}
.ellipsis.ellipsis-4 {
  height: 84px;
  line-height: 21px;
}
.ellipsis.ellipsis-4:before {
  height: 84px;
}
.ellipsis.ellipsis-5 {
  height: 105px;
  line-height: 21px;
}
.ellipsis.ellipsis-5:before {
  height: 105px;
}
.ellipsis.ellipsis-small {
  height: 80%;
  line-height: 80%;
}
.ellipsis.ellipsis-small:before {
  height: 80%;
}
.ellipsis > *:first-child {
  float: right;
  width: 100%;
  margin-left: -5px;
  margin-bottom: 0;
}
.ellipsis:after {
  /*content:"\02026";*/
  float: right;
  position: relative;
  top: -21px;
  left: 100%;
  width: 3em;
  padding-right: 5px;
  margin-left: -3em;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  text-align: right;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(white), color-stop(50%, white));
  background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
  background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
  background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
}
.dataobject-sm .ellipsis {
  height: 32px;
  line-height: 16px;
  font-size: 11px;
}
.dataobject-sm .ellipsis:before {
  width: 3px;
  height: 32px;
}
.dataobject-sm .ellipsis.ellipsis-1 {
  height: 16px;
  line-height: 16px;
}
.dataobject-sm .ellipsis.ellipsis-1:before {
  height: 16px;
}
.dataobject-sm .ellipsis.ellipsis-2 {
  height: 32px;
  line-height: 16px;
}
.dataobject-sm .ellipsis.ellipsis-2:before {
  height: 32px;
}
.dataobject-sm .ellipsis.ellipsis-3 {
  height: 48px;
  line-height: 16px;
}
.dataobject-sm .ellipsis.ellipsis-3:before {
  height: 48px;
}
.dataobject-sm .ellipsis.ellipsis-4 {
  height: 64px;
  line-height: 16px;
}
.dataobject-sm .ellipsis.ellipsis-4:before {
  height: 64px;
}
.dataobject-sm .ellipsis.ellipsis-5 {
  height: 80px;
  line-height: 16px;
}
.dataobject-sm .ellipsis.ellipsis-5:before {
  height: 80px;
}
.dataobject-sm .ellipsis > *:first-child {
  margin-left: -3px;
}
.dataobject-sm .ellipsis:after {
  top: -16px;
  padding-right: 3px;
}
.dataobject-xs .ellipsis {
  height: 26.4px;
  line-height: 12px;
  font-size: 10px;
}
.dataobject-xs .ellipsis:before {
  width: 3px;
  height: 26.4px;
}
.dataobject-xs .ellipsis.ellipsis-1 {
  height: 12px;
  line-height: 12px;
}
.dataobject-xs .ellipsis.ellipsis-1:before {
  height: 12px;
}
.dataobject-xs .ellipsis.ellipsis-2 {
  height: 24px;
  line-height: 12px;
}
.dataobject-xs .ellipsis.ellipsis-2:before {
  height: 24px;
}
.dataobject-xs .ellipsis.ellipsis-3 {
  height: 39.6px;
  line-height: 12px;
}
.dataobject-xs .ellipsis.ellipsis-3:before {
  height: 39.6px;
}
.dataobject-xs .ellipsis.ellipsis-4 {
  height: 52.8px;
  line-height: 12px;
}
.dataobject-xs .ellipsis.ellipsis-4:before {
  height: 52.8px;
}
.dataobject-xs .ellipsis.ellipsis-5 {
  height: 66px;
  line-height: 12px;
}
.dataobject-xs .ellipsis.ellipsis-5:before {
  height: 66px;
}
.dataobject-xs .ellipsis > *:first-child {
  margin-left: -3px;
}
.dataobject-xs .ellipsis:after {
  top: -12px;
  padding-right: 3px;
}
/* Meduim (Portrait tablet to landscape and desktop) */
@media (min-width: 768px) and (max-width: 979px) {
  .ellipsis {
    height: 36px;
    line-height: 18px;
    font-size: 12px;
  }
  .ellipsis:before {
    width: 4px;
    height: 36px;
  }
  .ellipsis.ellipsis-1 {
    height: 18px;
    line-height: 18px;
  }
  .ellipsis.ellipsis-1:before {
    height: 18px;
  }
  .ellipsis.ellipsis-2 {
    height: 36px;
    line-height: 18px;
  }
  .ellipsis.ellipsis-2:before {
    height: 36px;
  }
  .ellipsis.ellipsis-3 {
    height: 54px;
    line-height: 18px;
  }
  .ellipsis.ellipsis-3:before {
    height: 54px;
  }
  .ellipsis > *:first-child {
    margin-left: -4px;
  }
  .ellipsis:after {
    top: -18px;
    padding-right: 4px;
  }
}
/* Small (Landscape phone to portrait tablet) */
@media (max-width: 767px) {
  .ellipsis {
    height: 32px;
    line-height: 16px;
    font-size: 11px;
  }
  .ellipsis:before {
    width: 3px;
    height: 32px;
  }
  .ellipsis.ellipsis-1 {
    height: 16px;
    line-height: 16px;
  }
  .ellipsis.ellipsis-1:before {
    height: 16px;
  }
  .ellipsis.ellipsis-2 {
    height: 32px;
    line-height: 16px;
  }
  .ellipsis.ellipsis-2:before {
    height: 32px;
  }
  .ellipsis.ellipsis-3 {
    height: 48px;
    line-height: 16px;
  }
  .ellipsis.ellipsis-3:before {
    height: 48px;
  }
  .ellipsis.ellipsis-4 {
    height: 64px;
    line-height: 16px;
  }
  .ellipsis.ellipsis-4:before {
    height: 64px;
  }
  .ellipsis.ellipsis-5 {
    height: 80px;
    line-height: 16px;
  }
  .ellipsis.ellipsis-5:before {
    height: 80px;
  }
  .ellipsis > *:first-child {
    margin-left: -3px;
  }
  .ellipsis:after {
    top: -16px;
    padding-right: 3px;
  }
}
/* X-Small (Landscape phones and down) */
@media (max-width: 480px) {
  .ellipsis {
    height: 26.4px;
    line-height: 12px;
    font-size: 10px;
  }
  .ellipsis:before {
    width: 3px;
    height: 26.4px;
  }
  .ellipsis.ellipsis-1 {
    height: 12px;
    line-height: 12px;
  }
  .ellipsis.ellipsis-1:before {
    height: 12px;
  }
  .ellipsis.ellipsis-2 {
    height: 24px;
    line-height: 12px;
  }
  .ellipsis.ellipsis-2:before {
    height: 24px;
  }
  .ellipsis.ellipsis-3 {
    height: 39.6px;
    line-height: 12px;
  }
  .ellipsis.ellipsis-3:before {
    height: 39.6px;
  }
  .ellipsis.ellipsis-4 {
    height: 52.8px;
    line-height: 12px;
  }
  .ellipsis.ellipsis-4:before {
    height: 52.8px;
  }
  .ellipsis.ellipsis-5 {
    height: 66px;
    line-height: 12px;
  }
  .ellipsis.ellipsis-5:before {
    height: 66px;
  }
  .ellipsis > *:first-child {
    margin-left: -3px;
  }
  .ellipsis:after {
    top: -12px;
    padding-right: 3px;
  }
}
.dataobject-page {
  min-height: 70vh;
}
.dataobject-page .dataobject-page-header {
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.dataobject-page .dataobject-page-content {
  padding-bottom: 15px;
}
.dataobject-page .dataobject-tabs {
  padding-bottom: 30px;
}
.dataobject-page .dataobject-tabs .nav {
  float: right;
  border-bottom: 0px;
  display: block;
  width: 100%;
  height: 54px;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  text-align: center;
  background: #eee;
  border-bottom: 1px solid #ececec;
  margin-bottom: 0;
  padding-bottom: 5px;
  padding-top: 5px;
  font-size: 0;
}
.dataobject-page .dataobject-tabs .nav > li {
  /*float: left;*/
  float: none;
  font-size: 17px;
  position: relative;
  display: inline-block;
  white-space: initial;
  margin: 0 3px;
}
.dataobject-page .dataobject-tabs .nav > li:first-child {
  margin-left: 15px;
}
.dataobject-page .dataobject-tabs .nav > li:last-child {
  margin-right: 15px;
}
.dataobject-page .dataobject-tabs .nav > li > a {
  color: #534d46;
  border-radius: 4px;
  margin: 0;
}
.dataobject-page .dataobject-tabs .nav-pills > li a {
  border: 1px solid transparent;
}
.dataobject-page .dataobject-tabs .nav-pills > li a:hover,
.dataobject-page .dataobject-tabs .nav-pills > li a:focus {
  color: #534d46;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
}
.dataobject-page .dataobject-tabs .nav-pills > li a.active,
.dataobject-page .dataobject-tabs .nav-pills > li a.active:hover,
.dataobject-page .dataobject-tabs .nav-pills > li a.active:focus {
  color: #534d46;
  cursor: default;
  background-color: transparent;
  border: 1px solid #534d46;
}
.dataobject-page .dataobject-tabs .tab-content {
  width: 100%;
  float: left;
  border: 0;
  margin-top: 15px;
}
.dataobject-page .dataobject-tabs.place-holder .nav {
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
}
.dataobject-page .dataobject-item {
  padding: 6px 6px;
}
.dataobject-page .dataobject-item > div {
  /*position: relative;*/
  padding: 5px;
  height: auto;
  overflow: hidden;
  border: 1px solid transparent;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.dataobject-page .dataobject-item > div .content {
  padding: 0;
  margin: 0;
}
.dataobject-page .dataobject-item .dataobject-title {
  margin-bottom: 5px;
}
.dataobject-page .dataobject-item .dataobject-info {
  color: #555;
  font-size: 90%;
  padding: 0 6px;
  margin-bottom: 2px;
}
.dataobject-page .dataobject-item .mask:before,
.dataobject-page .dataobject-item .mask:after {
  content: '';
  position: absolute;
  background: transparent;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.dataobject-page .dataobject-item .mask:before {
  top: 0;
  left: 0;
  right: 100%;
  bottom: 100%;
}
.dataobject-page .dataobject-item .mask:after {
  top: 100%;
  left: 100%;
  right: 0;
  bottom: 0;
}
.dataobject-page .dataobject-item:hover .mask:before,
.dataobject-page .dataobject-item:hover .mask:after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.1;
  background: #000;
}
.dataobject-page .dataobject-item.dataobject-item-brief > div .content {
  display: none;
}
.dataobject-page .dataobject-related {
  padding-bottom: 30px;
}
.dataobject-page .dataobject-related.place-holder .dataobject-title > h2 {
  width: 40%;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
}
.dataobject-page .dataobject-related.place-holder .dataobject-item > div {
  height: 200px;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
}
.dataobject-page .dataobject-vlist .dataobject-item {
  font-size: 14px;
  padding: 5px;
  border-bottom: 1px solid #dddfe2;
}
.dataobject-page .dataobject-vlist .dataobject-item:hover {
  background-color: #f6f6f6;
}
.dataobject-page .dataobject-hlist {
  width: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}
.dataobject-page .dataobject-hlist .dataobject-item {
  position: relative;
  display: inline-block;
  white-space: initial;
  width: 240px;
  vertical-align: bottom;
  font-size: 12px;
}
.dataobject-page .dataobject-side ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 3em;
  max-height: 60vh;
  overflow-y: auto;
}
.dataobject-page .dataobject-side ul li {
  padding: 5px 0;
  border-bottom: 1px solid #eee;
  margin-bottom: 5px;
  text-transform: uppercase;
  /* Clip long text and show dots */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dataobject-page .dataobject-side ul li a {
  font-size: 14px;
  -webkit-transition: background 350ms ease-in-out;
  -moz-transition: background 350ms ease-in-out;
  -ms-transition: background 350ms ease-in-out;
  -o-transition: background 350ms ease-in-out;
  transition: background 350ms ease-in-out;
  -webkit-transition: border-color 350ms ease-in-out;
  -moz-transition: border-color 350ms ease-in-out;
  -ms-transition: border-color 350ms ease-in-out;
  -o-transition: border-color 350ms ease-in-out;
  transition: border-color 350ms ease-in-out;
  -webkit-transition: color 150ms ease-in-out;
  -moz-transition: color 150ms ease-in-out;
  -ms-transition: color 150ms ease-in-out;
  -o-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
  color: #999;
}
.dataobject-page .dataobject-side ul li a:hover {
  text-decoration: none;
  color: transparent;
}
.dataobject-page .dataobject-details {
  margin-bottom: 10px;
}
.dataobject-page .dataobject-header {
  position: relative;
  max-width: 1200px;
  vertical-align: top;
  width: auto;
  /*z-index: 3;*/
  text-align: center;
  margin: 0 auto 20px;
  font-size: 18px;
  /*        line-height: 120px;*/
  min-height: 160px;
}
.dataobject-page .dataobject-header .dataobject-card {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}
.dataobject-page .dataobject-header .dataobject-card .dataobject-picture {
  width: 160px;
  height: 160px;
  margin: 0 0 -160px 0;
}
.dataobject-page .dataobject-header .dataobject-card .dataobject-picture.place-holder {
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
}
.dataobject-page .dataobject-header .dataobject-card .dataobject-brief {
  display: block;
  line-height: 1.3;
  margin-top: -0.25em;
  vertical-align: middle;
  text-align: left;
  width: 100%;
  /*margin-left: (@dataobject-picture-size + 8px);*/
  padding-left: 168px;
}
.dataobject-page .dataobject-header .dataobject-card .dataobject-brief .dataobject-title {
  font-size: 22px;
}
.dataobject-page .dataobject-header .dataobject-card .dataobject-brief .dataobject-info {
  font-size: 15px;
  margin-bottom: 2px;
}
.dataobject-page .dataobject-header .dataobject-card .dataobject-brief.place-holder .dataobject-title {
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
}
.dataobject-page .dataobject-header .dataobject-card .dataobject-brief.place-holder .dataobject-info {
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
}
.dataobject-page .dataobject-header .dataobject-card .dataobject-brief.place-holder .dataobject-info.dataobject-info-1 {
  width: 70%;
}
.dataobject-page .dataobject-header .dataobject-card .dataobject-brief.place-holder .dataobject-info.dataobject-info-2 {
  width: 60%;
}
.dataobject-page .dataobject-header .dataobject-card .dataobject-brief.place-holder .dataobject-info.dataobject-info-3 {
  width: 80%;
}
.dataobject-page .dataobject-header .dataobject-card .dataobject-brief.place-holder .dataobject-info.dataobject-info-4 {
  width: 65%;
}
.dataobject-page .dataobject-header .dataobject-card.card-form {
  font-size: 12px;
  line-height: 16px;
  font-style: normal;
  font-weight: 400;
}
.dataobject-page .dataobject-header .dataobject-card.card-form label.control-label:first-child {
  float: left;
  display: none;
  width: 176px;
  padding: 8px 8px 8px 0;
  line-height: 16px;
}
.dataobject-page .dataobject-header .dataobject-card.card-form .ss-uploadfield .controls {
  min-width: 510px;
  max-width: 696px;
  width: 100%;
  margin-left: 0;
  clear: both;
  padding: 0;
  border: none;
  background: none;
}
.dataobject-page .dataobject-header .dataobject-card.card-form .ss-uploadfield .ss-uploadfield-item {
  padding: 0;
}
.dataobject-page .dataobject-header .dataobject-card.card-form .ss-uploadfield .ss-uploadfield-item .ss-uploadfield-item-preview {
  height: 160px;
  line-height: 160px;
  width: 160px;
  text-align: center;
  background: none;
}
.dataobject-page .dataobject-header .dataobject-card.card-form .ss-uploadfield .ss-uploadfield-item .ss-uploadfield-item-preview span {
  height: 160px;
  width: 160px;
}
.dataobject-page .dataobject-header .dataobject-card.card-form .ss-uploadfield .ss-uploadfield-item .ss-uploadfield-item-info {
  margin-left: 180px;
}
.dataobject-page .dataobject-header .dataobject-card.card-form .ss-uploadfield .ss-ui-button {
  margin-top: 0px;
  padding: 1px 6px;
  font-weight: bold;
  text-decoration: none;
  line-height: 16px;
  color: #393939;
  border: 1px solid #d0d3d5;
  border-bottom: 1px solid #b5babd;
  cursor: pointer;
  background-color: #e6e6e6;
  white-space: nowrap;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiP…dpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #d9d9d9));
  background: -moz-linear-gradient(#ffffff, #d9d9d9);
  background: -webkit-linear-gradient(#ffffff, #d9d9d9);
  background: linear-gradient(#ffffff, #d9d9d9);
  text-shadow: white 0 1px 1px;
}
.dataobject-page .dataobject-header .dataobject-card.card-form .Actions {
  min-height: 40px;
}
.dataobject-page .dataobject-header .dataobject-card.card-form .Actions .form-group {
  float: left;
  margin: 0 5px 0 0;
}
.dataobject-page .card {
  position: relative;
  /*background: #b3b3b3;*/
  margin-bottom: auto;
  padding: 0;
  border: 0;
}
.dataobject-page .card img {
  width: 100%;
  height: 100%;
}
.dataobject-page .card .caption {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  /*width: 140px;*/
  bottom: 0rem;
  background: #000;
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.6) 20%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.6) 20%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.6) 20%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 20%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.dataobject-page .card .caption.caption-btn {
  top: auto;
  bottom: 0;
  padding: 0;
}
.dataobject-page .card .caption.caption-btn a {
  display: block;
  margin: 0;
  background: rgba(0, 0, 0, 0.54);
  font-size: 11px;
  line-height: 18px;
  padding: 3px;
  cursor: pointer;
}
.dataobject-page .card .caption h4 {
  padding-left: 5px;
  padding-right: 5px;
  color: #fff;
  text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  -khtml-user-select: none;
  -moz-user-select: none;
  /* Firefox all */
  -o-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
  -webkit-user-drag: none;
  -moz-user-drag: none;
  user-drag: none;
}
.dataobject-page .dataobject-gallery > div .card {
  box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
}
.dataobject-page .dataobject-gallery > div .card:hover {
  box-shadow: 0 16px 32px 0 rgba(62, 57, 107, 0.28), 0 0 0 transparent;
}
.dataobject-page .dataobject-gallery > div .card a > img,
.dataobject-page .dataobject-gallery > div .card .caption {
  border-radius: 6px;
  /*max-height: 200px;*/
}
.dataobject-sm .dataobject-item {
  padding: 4px 4px;
}
.dataobject-sm .dataobject-item > div {
  padding: 5px;
  height: auto;
}
.dataobject-sm .dataobject-item > div .content {
  padding-left: 6px;
}
.dataobject-sm .dataobject-item .card .caption {
  top: 6%;
  padding: 6px;
}
.dataobject-sm .dataobject-item .card .caption h4,
.dataobject-sm .dataobject-item .card .caption .h4 {
  font-size: 11px;
}
.dataobject-sm .dataobject-item:hover .card .caption h4,
.dataobject-sm .dataobject-item:hover .card .caption .h4 {
  font-size: 13px;
}
.dataobject-sm .dataobject-hlist .dataobject-item {
  width: 176px !important;
  font-size: 11px !important;
  padding: 4px 2px;
}
.dataobject-sm .object-label {
  width: 66px;
  line-height: 22px;
  font-size: 10px !important;
}
.dataobject-sm .object-label .object-label.object-label-top-left {
  left: -4px;
}
.dataobject-sm .object-label .object-label.object-label-top-right {
  right: -4px;
}
.dataobject-sm .object-label .object-label.object-label-bottom-left {
  left: -4px;
}
.dataobject-sm .object-label .object-label.object-label-bottom-right {
  right: -4px;
}
.dataobject-sm .card .caption.caption-btn a {
  font-size: 11px;
  line-height: 18px;
  padding: 3px;
}
.dataobject-sm .card .caption h4 {
  font-size: 11px;
}
.dataobject-xs .dataobject-item {
  padding: 2px 2px;
}
.dataobject-xs .dataobject-item > div {
  padding: 5px;
  height: auto;
  border: 1px solid #bbb;
  border: 1px solid transparent;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.dataobject-xs .dataobject-item > div .content {
  padding-left: 6px;
}
.dataobject-xs .dataobject-item .card .caption {
  top: 3%;
  padding: 5px;
}
.dataobject-xs .dataobject-item .card .caption h4,
.dataobject-xs .dataobject-item .card .caption .h4 {
  font-size: 10px !important;
}
.dataobject-xs .dataobject-hlist .dataobject-item {
  width: 160px !important;
  font-size: 10px !important;
}
.dataobject-xs .dataobject-hlist .dataobject-item > div .content {
  padding: 0;
}
.dataobject-xs .dataobject-hlist .dataobject-item .title {
  font-size: 12px !important;
  line-height: 18px !important;
}
.dataobject-xs .object-label {
  width: 60px;
  height: 20px;
  line-height: 20px;
}
.dataobject-xs .object-label.object-label-top-left {
  top: 14px;
  left: -6px;
}
.dataobject-xs .object-label.object-label-top-right {
  top: 14px;
  right: -6px;
}
.dataobject-xs .object-label.object-label-bottom-left {
  bottom: 14px;
  left: -6px;
}
.dataobject-xs .object-label.object-label-bottom-right {
  bottom: 14px;
  right: -6px;
}
.dataobject-xs .card .caption {
  top: 20%;
}
.dataobject-xs .card .caption.caption-btn a {
  font-size: 11px;
  line-height: 18px;
  padding: 3px;
}
.dataobject-xs .card .caption h4 {
  font-size: 12px;
}
.object-label {
  position: absolute;
  width: 72px;
  height: 26px;
  line-height: 26px;
  margin-bottom: 8px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  cursor: default;
  text-transform: none;
  z-index: 10;
  -webkit-border-radius: 2px 2px 2px 0;
  -moz-border-radius: 2px 2px 2px 0;
  border-radius: 2px 2px 2px 0;
  -webkit-box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.32);
  -o-box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.32);
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.32);
}
.object-label:before {
  content: '';
  position: absolute;
  right: 0;
  bottom: -8px;
  width: 0;
  height: 0;
  border: 4px solid #e21111;
  border-bottom-color: transparent;
  border-right-color: transparent;
  /*z-index: 0;*/
  white-space: normal;
}
.object-label.object-label-red {
  background: #e42e2e;
}
.object-label.object-label-red:before {
  border: 4px solid #e42e2e;
  border-bottom-color: transparent;
  border-right-color: transparent;
}
.object-label.object-label-blue {
  background: #4747e8;
}
.object-label.object-label-blue:before {
  border: 4px solid #4747e8;
  border-bottom-color: transparent;
  border-right-color: transparent;
}
.object-label.object-label-black {
  background: #000;
}
.object-label.object-label-black:before {
  border: 4px solid #000;
  border-bottom-color: transparent;
  border-right-color: transparent;
}
.object-label.object-label-green {
  background: #11a111;
}
.object-label.object-label-green:before {
  border: 4px solid #11a111;
  border-bottom-color: transparent;
  border-right-color: transparent;
}
.object-label.object-label-top-left {
  top: 24px;
  left: -2px;
}
.object-label.object-label-top-right {
  top: 24px;
  right: -2px;
}
.object-label.object-label-bottom-left {
  bottom: 24px;
  left: -2px;
}
.object-label.object-label-bottom-right {
  bottom: 24px;
  right: -2px;
}
.modal {
  background: #fff;
  color: #000;
  border: 0;
  padding: 0;
  cursor: auto;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.16);
}
.modal > .card-header {
  background: transparent;
  border: 0;
}
.modal > .card-body .family-members-title {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 0;
}
.modal > .card-body .family-members-list {
  font-size: 13px;
  font-weight: normal;
}
.modal a.close-modal {
  top: 8px;
  right: 8px;
  background: none;
  width: auto;
  height: auto;
  text-indent: initial;
}
/* Meduim (Portrait tablet to landscape and desktop) */
@media (min-width: 768px) and (max-width: 979px) {
  .dataobject-page .dataobject-item {
    padding: 5px 5px;
  }
  .dataobject-page .dataobject-item > div {
    padding: 5px;
    height: auto;
  }
  .dataobject-page .dataobject-item .card .caption {
    top: 10%;
  }
  .dataobject-page .dataobject-item .card .caption h4,
  .dataobject-page .dataobject-item .card .caption .h4 {
    font-size: 16px;
  }
  .dataobject-page .dataobject-item:hover .card .caption h4,
  .dataobject-page .dataobject-item:hover .card .caption .h4 {
    font-size: 16px;
  }
  .object-label.object-label-top-left {
    left: -3px;
  }
  .object-label.object-label-top-right {
    right: -3px;
  }
  .object-label.object-label-bottom-left {
    left: -3px;
  }
  .object-label.object-label-bottom-right {
    right: -3px;
  }
}
/* Small (Landscape phone to portrait tablet) */
@media (max-width: 767px) {
  .dataobject-page .form-group {
    margin-bottom: 0;
  }
  .dataobject-page .dataobject-item {
    padding: 4px 4px;
  }
  .dataobject-page .dataobject-item > div {
    padding: 5px;
    height: auto;
  }
  .dataobject-page .dataobject-item > div .content {
    padding-left: 6px;
  }
  .dataobject-page .dataobject-item .card .caption {
    top: 6%;
    padding: 6px;
  }
  .dataobject-page .dataobject-item .card .caption h4,
  .dataobject-page .dataobject-item .card .caption .h4 {
    font-size: 13px;
  }
  .dataobject-page .dataobject-item:hover .card .caption h4,
  .dataobject-page .dataobject-item:hover .card .caption .h4 {
    font-size: 13px;
  }
  .dataobject-page .dataobject-related.dataobject-item {
    padding: 8px 8px;
  }
  .dataobject-page .dataobject-related.dataobject-item > div {
    padding: 5px;
    height: auto;
    border: 1px solid #bbb;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .dataobject-page .dataobject-related.dataobject-item > div .content {
    padding-left: 6px;
  }
  .dataobject-page .dataobject-hlist .dataobject-item {
    width: 176px;
    font-size: 11px;
  }
  .dataobject-page .dataobject-header {
    margin: 0 auto 5px;
  }
  .dataobject-page .dataobject-header .dataobject-card .dataobject-picture {
    margin: 0 auto;
  }
  .dataobject-page .dataobject-header .dataobject-card .dataobject-brief {
    display: block;
    /*margin: 12px auto;*/
    padding: 12px 0;
    text-align: center;
  }
  .dataobject-page .dataobject-header .dataobject-card .dataobject-brief .dataobject-title {
    font-size: 18px;
  }
  .dataobject-page .dataobject-header .dataobject-card .dataobject-brief .dataobject-info {
    font-size: 14px;
    margin-bottom: 2px;
    text-align: left;
  }
  .object-label {
    width: 66px;
    line-height: 22px;
    font-size: 10px;
  }
  .object-label .object-label.object-label-top-left {
    left: -4px;
  }
  .object-label .object-label.object-label-top-right {
    right: -4px;
  }
  .object-label .object-label.object-label-bottom-left {
    left: -4px;
  }
  .object-label .object-label.object-label-bottom-right {
    right: -4px;
  }
}
/* X-Small (Landscape phones and down) */
@media (max-width: 480px) {
  .dataobject-page .form-group {
    margin-bottom: 0;
  }
  .dataobject-page .dataobject-grid {
    margin-right: -6px;
    margin-left: -6px;
  }
  .dataobject-page .dataobject-item {
    padding: 2px 2px;
  }
  .dataobject-page .dataobject-item > div {
    padding: 5px;
    height: auto;
    border: 1px solid #bbb;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .dataobject-page .dataobject-item > div .content {
    padding-left: 6px;
  }
  .dataobject-page .dataobject-item .card .caption {
    top: 3%;
    padding: 5px;
  }
  .dataobject-page .dataobject-item .card .caption h4,
  .dataobject-page .dataobject-item .card .caption .h4 {
    font-size: 11px;
  }
  .dataobject-page .dataobject-item:hover .card .caption h4,
  .dataobject-page .dataobject-item:hover .card .caption .h4 {
    font-size: 11px;
  }
  .dataobject-page .dataobject-related.dataobject-item {
    padding: 8px 15px;
  }
  .dataobject-page .dataobject-related.dataobject-item > div {
    padding: 5px;
    height: auto;
    border: 1px solid #bbb;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .dataobject-page .dataobject-related.dataobject-item > div .content {
    padding-left: 6px;
  }
  .dataobject-page .dataobject-related.dataobject-item .card .caption {
    top: 6%;
    padding: 6px;
  }
  .dataobject-page .dataobject-related.dataobject-item .card .caption h4,
  .dataobject-page .dataobject-related.dataobject-item .card .caption .h4 {
    font-size: 9px;
  }
  .dataobject-page .dataobject-related.dataobject-item:hover .card .caption h4,
  .dataobject-page .dataobject-related.dataobject-item:hover .card .caption .h4 {
    font-size: 9px;
  }
  .dataobject-page .dataobject-hlist .dataobject-item {
    width: 160px;
    font-size: 10px;
  }
  .dataobject-page .dataobject-hlist .dataobject-item > div .content {
    padding: 0;
  }
  .dataobject-page .dataobject-hlist .dataobject-item .title {
    font-size: 12px;
    line-height: 18px;
  }
  .dataobject-page .dataobject-side ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-bottom: 3em;
    max-height: 60vh;
    overflow-y: auto;
  }
  .dataobject-page .dataobject-side ul li {
    padding: 5px 0;
    border-bottom: 1px solid #eee;
    margin-bottom: 5px;
    text-transform: uppercase;
  }
  .dataobject-page .dataobject-side ul li a {
    font-size: 14px;
    -webkit-transition: background 350ms ease-in-out;
    -moz-transition: background 350ms ease-in-out;
    -ms-transition: background 350ms ease-in-out;
    -o-transition: background 350ms ease-in-out;
    transition: background 350ms ease-in-out;
    -webkit-transition: border-color 350ms ease-in-out;
    -moz-transition: border-color 350ms ease-in-out;
    -ms-transition: border-color 350ms ease-in-out;
    -o-transition: border-color 350ms ease-in-out;
    transition: border-color 350ms ease-in-out;
    -webkit-transition: color 150ms ease-in-out;
    -moz-transition: color 150ms ease-in-out;
    -ms-transition: color 150ms ease-in-out;
    -o-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
    color: #999;
  }
  .dataobject-page .dataobject-side ul li a:hover {
    text-decoration: none;
    color: transparent;
  }
  .dataobject-page .dataobject-details .card {
    overflow: hidden;
  }
  .object-label {
    width: 60px;
    height: 20px;
    line-height: 20px;
  }
  .object-label.object-label-top-left {
    top: 14px;
    left: -6px;
  }
  .object-label.object-label-top-right {
    top: 14px;
    right: -6px;
  }
  .object-label.object-label-bottom-left {
    bottom: 14px;
    left: -6px;
  }
  .object-label.object-label-bottom-right {
    bottom: 14px;
    right: -6px;
  }
}
/*# sourceMappingURL=dataobject.css.map */