.ellipsis {
  overflow: hidden;
  height: 42px;
  line-height: 21px;
  font-size: 14px;
}
.ellipsis:before {
  content: "";
  float: left;
  width: 5px;
  height: 42px;
}
.ellipsis.ellipsis-1 {
  height: 21px;
  line-height: 21px;
}
.ellipsis.ellipsis-1:before {
  height: 21px;
}
.ellipsis.ellipsis-2 {
  height: 42px;
  line-height: 21px;
}
.ellipsis.ellipsis-2:before {
  height: 42px;
}
.ellipsis.ellipsis-3 {
  height: 63px;
  line-height: 21px;
}
.ellipsis.ellipsis-3:before {
  height: 63px;
}
.ellipsis.ellipsis-4 {
  height: 84px;
  line-height: 21px;
}
.ellipsis.ellipsis-4:before {
  height: 84px;
}
.ellipsis.ellipsis-5 {
  height: 105px;
  line-height: 21px;
}
.ellipsis.ellipsis-5:before {
  height: 105px;
}
.ellipsis.ellipsis-small {
  height: 80%;
  line-height: 80%;
}
.ellipsis.ellipsis-small:before {
  height: 80%;
}
.ellipsis > *:first-child {
  float: right;
  width: 100%;
  margin-left: -5px;
  margin-bottom: 0;
}
.ellipsis:after {
  /*content:"\02026";*/
  float: right;
  position: relative;
  top: -21px;
  left: 100%;
  width: 3em;
  padding-right: 5px;
  margin-left: -3em;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  text-align: right;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(white), color-stop(50%, white));
  background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
  background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
  background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
}
.dataobject-sm .ellipsis {
  height: 32px;
  line-height: 16px;
  font-size: 11px;
}
.dataobject-sm .ellipsis:before {
  width: 3px;
  height: 32px;
}
.dataobject-sm .ellipsis.ellipsis-1 {
  height: 16px;
  line-height: 16px;
}
.dataobject-sm .ellipsis.ellipsis-1:before {
  height: 16px;
}
.dataobject-sm .ellipsis.ellipsis-2 {
  height: 32px;
  line-height: 16px;
}
.dataobject-sm .ellipsis.ellipsis-2:before {
  height: 32px;
}
.dataobject-sm .ellipsis.ellipsis-3 {
  height: 48px;
  line-height: 16px;
}
.dataobject-sm .ellipsis.ellipsis-3:before {
  height: 48px;
}
.dataobject-sm .ellipsis.ellipsis-4 {
  height: 64px;
  line-height: 16px;
}
.dataobject-sm .ellipsis.ellipsis-4:before {
  height: 64px;
}
.dataobject-sm .ellipsis.ellipsis-5 {
  height: 80px;
  line-height: 16px;
}
.dataobject-sm .ellipsis.ellipsis-5:before {
  height: 80px;
}
.dataobject-sm .ellipsis > *:first-child {
  margin-left: -3px;
}
.dataobject-sm .ellipsis:after {
  top: -16px;
  padding-right: 3px;
}
.dataobject-sx .ellipsis {
  height: 35.2px;
  line-height: 16px;
  font-size: 11px;
}
.dataobject-sx .ellipsis:before {
  width: 3px;
  height: 35.2px;
}
.dataobject-sx .ellipsis.ellipsis-1 {
  height: 16px;
  line-height: 16px;
}
.dataobject-sx .ellipsis.ellipsis-1:before {
  height: 16px;
}
.dataobject-sx .ellipsis.ellipsis-2 {
  height: 32px;
  line-height: 16px;
}
.dataobject-sx .ellipsis.ellipsis-2:before {
  height: 32px;
}
.dataobject-sx .ellipsis.ellipsis-3 {
  height: 52.8px;
  line-height: 16px;
}
.dataobject-sx .ellipsis.ellipsis-3:before {
  height: 52.8px;
}
.dataobject-sx .ellipsis.ellipsis-4 {
  height: 70.4px;
  line-height: 16px;
}
.dataobject-sx .ellipsis.ellipsis-4:before {
  height: 70.4px;
}
.dataobject-sx .ellipsis.ellipsis-5 {
  height: 88px;
  line-height: 16px;
}
.dataobject-sx .ellipsis.ellipsis-5:before {
  height: 88px;
}
.dataobject-sx .ellipsis > *:first-child {
  margin-left: -3px;
}
.dataobject-sx .ellipsis:after {
  top: -16px;
  padding-right: 3px;
}
/* Meduim (Portrait tablet to landscape and desktop) */
@media (min-width: 768px) and (max-width: 979px) {
  .ellipsis {
    height: 36px;
    line-height: 18px;
    font-size: 12px;
  }
  .ellipsis:before {
    width: 4px;
    height: 36px;
  }
  .ellipsis.ellipsis-1 {
    height: 18px;
    line-height: 18px;
  }
  .ellipsis.ellipsis-1:before {
    height: 18px;
  }
  .ellipsis.ellipsis-2 {
    height: 36px;
    line-height: 18px;
  }
  .ellipsis.ellipsis-2:before {
    height: 36px;
  }
  .ellipsis.ellipsis-3 {
    height: 54px;
    line-height: 18px;
  }
  .ellipsis.ellipsis-3:before {
    height: 54px;
  }
  .ellipsis > *:first-child {
    margin-left: -4px;
  }
  .ellipsis:after {
    top: -18px;
    padding-right: 4px;
  }
}
/* Small (Landscape phone to portrait tablet) */
@media (max-width: 767px) {
  .ellipsis {
    height: 32px;
    line-height: 16px;
    font-size: 11px;
  }
  .ellipsis:before {
    width: 3px;
    height: 32px;
  }
  .ellipsis.ellipsis-1 {
    height: 16px;
    line-height: 16px;
  }
  .ellipsis.ellipsis-1:before {
    height: 16px;
  }
  .ellipsis.ellipsis-2 {
    height: 32px;
    line-height: 16px;
  }
  .ellipsis.ellipsis-2:before {
    height: 32px;
  }
  .ellipsis.ellipsis-3 {
    height: 48px;
    line-height: 16px;
  }
  .ellipsis.ellipsis-3:before {
    height: 48px;
  }
  .ellipsis.ellipsis-4 {
    height: 64px;
    line-height: 16px;
  }
  .ellipsis.ellipsis-4:before {
    height: 64px;
  }
  .ellipsis.ellipsis-5 {
    height: 80px;
    line-height: 16px;
  }
  .ellipsis.ellipsis-5:before {
    height: 80px;
  }
  .ellipsis > *:first-child {
    margin-left: -3px;
  }
  .ellipsis:after {
    top: -16px;
    padding-right: 3px;
  }
}
/* X-Small (Landscape phones and down) */
@media (max-width: 480px) {
  .ellipsis {
    height: 35.2px;
    line-height: 16px;
    font-size: 11px;
  }
  .ellipsis:before {
    width: 3px;
    height: 35.2px;
  }
  .ellipsis.ellipsis-1 {
    height: 16px;
    line-height: 16px;
  }
  .ellipsis.ellipsis-1:before {
    height: 16px;
  }
  .ellipsis.ellipsis-2 {
    height: 32px;
    line-height: 16px;
  }
  .ellipsis.ellipsis-2:before {
    height: 32px;
  }
  .ellipsis.ellipsis-3 {
    height: 52.8px;
    line-height: 16px;
  }
  .ellipsis.ellipsis-3:before {
    height: 52.8px;
  }
  .ellipsis.ellipsis-4 {
    height: 70.4px;
    line-height: 16px;
  }
  .ellipsis.ellipsis-4:before {
    height: 70.4px;
  }
  .ellipsis.ellipsis-5 {
    height: 88px;
    line-height: 16px;
  }
  .ellipsis.ellipsis-5:before {
    height: 88px;
  }
  .ellipsis > *:first-child {
    margin-left: -3px;
  }
  .ellipsis:after {
    top: -16px;
    padding-right: 3px;
  }
}
/*# sourceMappingURL=ellipsis.css.map */