/* Right to Left */

@import "mixins/transform.less";
@import "ellipsis-rtl.less";

@hover-color: #f84545;

.dataobject-page {

    .thumbnail {
        .caption {
            left: auto;
            right: 0;
        }
    }

    .right-tabs {
        .nav {
            float: left;

            li {
                float: right;
            }
        }

        .tab-content {
            float: right;
        }
    }

    .dataobject-grid {

        .dataobject-item {
            .thumbnail {
                .mask {
                    left: 15%;
                    right: 0;
                }
            }
        }
    }

    .object-label {
        &:before {
            left: 0;
            right: auto;
            transform: skewY(26deg);
        }

        &.object-label-top-left {
            left: auto;
            right: 0px;
        }

        &.object-label-top-right {
            left: 0px;
            right: auto;
        }

        &.object-label-bottom-left {
            left: auto;
            right: 0px;
        }

        &.object-label-bottom-right {
            left: 0px;
            right: auto;
        }
    }
}

/* Navbar aSide */
/* Small (Landscape phone to portrait tablet) */
@media (max-width: 767px) {
    .dataobject-page {
        .dataobject-grid {
            .dataobject-item {
                .thumbnail {
                    .mask {
                        left: 0;
                    }
                }
            }
        }
    }
}

/* X-Small (Landscape phones and down) */
@media (max-width: 480px) {
    .dataobject-page {
        .object-label {
            &.object-label-top-left {
                top: auto;
                bottom: 10px;
            }

            &.object-label-top-right {
                top: auto;
                bottom: 10px;
            }

            &.object-label-bottom-left {
                bottom: 10px;
            }

            &.object-label-bottom-right {
                bottom: 10px;
            }
        }
    }
}